<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Expense Tracker</title>

  {{!-- link css files here --}}
  
  
  <script src="https://kit.fontawesome.com/0c5e8af51f.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/style.css">

</head>

<body>

  <!-- navigation -->
  <nav class="navbar navbar-dark bg-dark justify-content-center">
    <a class="navbar-brand text-sm" href="/">家庭記帳本</a>
  </nav>

  <div class="banner">
     <h4 class=" font-weight-bold" style="padding: 1rem;">家庭記帳本</h4>
  </div>

  {{{body}}}  

  {{!-- include javascript files here --}}
  <script src="/javascripts/jquery-3.3.1.js"></script>
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>
</html>