<div class="container">

  <div class="d-flex justify-content-center">

    <div class="dropdown ">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Dropdown button
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">家居物業</a>
        <a class="dropdown-item" href="#">交通出行</a>
        <a class="dropdown-item" href="#">休閒娛樂</a>
        <a class="dropdown-item" href="#">餐飲食品</a>
        <a class="dropdown-item" href="#">其他</a>
      </div>
    </div>
 
  </div>

  <div class="d-flex justify-content-center">
    <h1>總金額:12345元</h1>
  </div>

  <div class="d-flex justify-content-center">
    <table class="table table-striped table-borderless">
      <thead>
        <tr>
          <th scope="col" class="invisible">First</th>
          <th scope="col" class="invisible">Last</th>
          <th scope="col" class="invisible">Handle</th>
        </tr>
      </thead>
      
      <tbody>

        {{#each expense}}
        <tr>
          {{!-- <th scope="row">1</th> --}}
          <td class="align-middle">      
              {{this.category}} 
          </td>

          <td>
            <div class="font-weight-bold">
              <h4>{{this.name}}</h4>
            </div>
            <div>
              <small>{{this.date}}</small>
            </div>
          </td>

          <td class="align-middle text-right">
            {{this.amount}}
          </td>
        </tr>
        {{/each}}
        
      </tbody>
    </table>
  </div>

  <div class="d-flex justify-content-center">
    <a href="./expense/new" class="btn btn-warning">新增支出</button>
    </a>

</div>
